<!-- First -->
<section id="first" class="main">
    <header>
        <div class="container">
            {{ content() }}
        </div>
    </header>
    <div class="content dark style1 featured">
        <div class="container">
            <div class="row">
                <div class="4u 12u(narrow)">
                    <section>
                        {{ content('col1') }}
                    </section>
                </div>
                <div class="4u 12u(narrow)">
                    <section>
                        {{ content('col2') }}
                    </section>
                </div>
                <div class="4u 12u(narrow)">
                    <section>
                        {{ content('col3') }}
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="12u">
                    <footer>
                        {{ content('footer') }}
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
