<!-- Second -->
<section id="second" class="main">
    <header>
        <div class="container">
            {{ content() }}
        </div>
    </header>
    <div class="content dark style2">
        <div class="container">
            <div class="row">
                <div class="4u 12u(narrow)">
                    <section>
                        {{ content('left') }}
                    </section>
                </div>
                <div class="8u 12u(narrow)">
                    <div class="row">
                        {{ content('images') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>