<!-- Third -->
<section id="third" class="main">
    <header>
        <div class="container">
            {{ content() }}
        </div>
    </header>
    <div class="content dark style3">
        <div class="container">
            <span class="image featured"><img src="{{ baseUrl }}/media/images/pic07.jpg" alt="" /></span>
            <div class="row">
                <div class="4u 12u(narrow)">
                    {{ content('col1') }}
                </div>
                <div class="4u 12u(narrow)">
                    {{ content('col2') }}
                </div>
                <div class="4u 12u(narrow)">
                    {{ content('col3') }}
                </div>
            </div>
        </div>
    </div>
</section>